
<!DOCTYPE html>
<html>
<%= stylesheet_link_tag('application', :media => 'all') %>
<head>
  <meta charset="utf-8">
  <h1>Reports</h1>
  <title></title>
</head>
<body>
  <table class="reports_ table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Message</th>
    </tr>

    <% @reports.each do |report| %>
    <tr>
      <td><%= report.first_name %></td>
      <td><%= report.last_name %></td>
      <td><%= report.address %></td>
      <td><%= report.city %></td>
      <td><%= report.state %></td>
      <td><%= report.zip_code %></td>
      <td><%= report.message %></td>
    </tr>

    <% end %>
  </table>
</body>
</html>
