<!DOCTYPE html>
<html lang=en>
<%= stylesheet_link_tag('application', :media => 'all') %>
<head>
  <meta charset=utf-8>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <h1>Create Report</h1>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
--></head>
<!--<script src="http://code.angularjs.org/1.2.9/angular.min.js">-->

<body>
  <div class = "image">

  </div>
  <!--<div class="image">-->
<%= form_for(:report, :url => {:action => 'create'}) do |f| %>
<table>

  <tr>
    <th>First Name</th>
    <td><%=f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%=f.text_field(:last_name) %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%=f.text_field(:address) %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%=f.select :city, ['Yonkers'] %></td>
  </tr>
  <tr>
    <th>State</th>
    <td><%=f.select :state, ['New York'] %></td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td><%=f.select :zip_code, ['10705'] %></td>
  </tr>
  <tr>
    <th>Message</th>
    <td>
      <%=f.select :message, [['It smells like sewage', 'It smells like sewage'], ['It smells good', 'It smells good'], ['It does not smell good or bad','It does not smell good or bad'], ['It smells bad, but I do not know what it is','It smells bad, but I do not know what it is']]%>
    </td>

  </tr>
  <% end %>
</table>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
--></body>

<footer>
  <div class="form-buttons" >
    <%=submit_tag("Submit Report", :style=>"width:200px; font-size:12pt; font: Verdana")%>
  </div>
</footer>


</html>
